/* eslint-disable */

.main-nav .logo {
  font-size: 60px;
  font-weight: lighter;
  color: #feda4a;
  position: absolute;
  left: 30px;
  top: 0;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: feda4a;
}

.favs {
  top: 0;
  right: 0;
  position: absolute;
}

.main-nav {
  position: absolute;
  min-height: 55px;
  width: 100%;
  text-align: center;
  z-index: 7;
  top: 5px;
  border-bottom: 3px solid #feda4a;
  padding-bottom: 20px;
}

.main-nav li {
  display: inline-block;
  margin: 0 20px;
}

.main-nav a {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
}

.main-nav a:hover,
.main-nav a.active {
  color: #feda4a;
}

header {
  position: absolute;
  z-index: 10;
}

nav li {
  display: inline-block;
  margin: 10px;
}

nav a {
  display: block;
  text-decoration: none;
  color: white;
}

.active {
  text-decoration: underline;
  font-weight: bold;
}
